#wlc-chatbot {
    border: 1px solid #ddd;
    padding: 20px;
    /*width: 350px;*/
    background: #fff;
    border-radius: 8px;
}
#wlc-chatbot input,#wlc-chatbot textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
#wlc-chatbot button {
    background: #0073aa;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
/* Floating button */
#wlc-floating-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #0073aa;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    z-index: 9999;
}

/* Chat popup */
#wlc-chat-popup {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 25px;
    width: 350px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    z-index: 9999;
    padding: 20px;
}
#wlc-chat-popup h3 {
    margin-bottom: 10px;
}
#wlc-chat-close {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: #444;
    margin-right: 5px;
}
#wlc-chatbot .wlc-error{
    color:red;
}
#wlc-chatbot #wlc-response{
    color:darkgreen;
}